*~

# Project dependencies
.cache
node_modules
yarn-error.log
package-lock.json
yarn.lock

# Build directory
.DS_Store
/public/workbox-v3.6.3/
/public/offline-plugin-app-shell-fallback/
/public/static/
/public/icons/
/public/*.js
/public/*.map
/public/*.webmanifest
/public/*.json
